/tank-world-server/.metadata
RemoteSystemsTempFiles
.settings
target
/tank-world-server/tank-world-game-server/.classpath
/tank-world-server/tank-world-game-server/.project
.recommenders
/tank-world/.project
/tank-world/*.project
/tank-world/tank-world-game-server/*.classpath
/tank-world/tank-world-game-server/*.project
/.metadata
